<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img class="dp" src="images/profile.jpeg" alt="">
    <hr>
    <p class="lead">I am Kavindu Pramod and I'm from Galle. </p>
    <p class="lead">I am following CS degree in University Of
      Colombo School of computing. </p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/" role="button">Home</a>

  </div>
</div>

<%- include('partials/footer') %>
